*{
    padding:0;
}
body{
    background-color:#64A2EB;
    font-family: 'Cairo', sans-serif;
}
.dialer{
    display:block;
    padding:10px;
    width:80%;
    margin:110px auto;
    background:#fff;
    box-shadow: 0 0 11px #000;
}
#number{
    height:50px;
    font-size:35px;
    color:#64A2EB;
    text-align:center;
    margin-bottom:30px;
}
table{
    border:0;
    width:100%;
    border-collapse: collapse;
}
table tr{
    height:60px;
}
table td{
    width:33.33%;
    margin:0 auto;
    cursor:pointer;
    border-radius:6px;
}
.dial-no{
    display:block;
    font-weight:bold;
    position:relative;
    margin:0;
    width:100%;
    height:70%;
    font-size:35px;
    text-align:center;
    
}
.alphabets{
    color:grey;
    font-size:11px;
    width:100%;
    height:20%;
    margin:0;
    text-align:center;
}
.signs{
    font-size:25px;
}
.dial{
    background:green;
    height:40px;
    border-radius:7px;
    color:#fff;
}
td:active {
    background:lightgrey;
    border-radius:21px;
    box-shadow: 3px 2px 25px 1px rgba(0,0,0,0.25);
}
table tr:nth-child(5) td:nth-child(2):active {
    background:green;
}


@media (min-width: 600px){
    .dialer{
        width:400px;
    }
}
